body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
}

html, body{
  height: 100%;
}
#root{
  height: 100%;
  display: flex;
}

.sidebar{
  width: 320px;
  min-width: 320px;
  border-right: 1px solid #ccc;
  padding: 25px;
    .logo{
        margin-bottom: 25px;
      a{
        font-size: 30px;
      }
    }
    .description{
      font-size: 18px;
      line-height: 1.7;
      color: #999;
    }
    .menu{
      ul {
        li {
          a {
            display: block;
            font-weight: 600;
            color: #333;
            cursor: pointer;
            &:hover{
              color: #0099e5
            }
          }
        }
      }
    }
}

.content{
  flex: 1;
  overflow: auto;
  background-color: #f8f8f8;
  .header{
    height: 50px;
    border-bottom: 1px solid #ccc;
    display: flex;
    position: sticky;
    top:0;
    background: #fff;
    align-items: center;
    .search{
      position: relative;
      flex: 1;
      .icon{
        position:absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
      }
      input{
        width: 100%;
        height: 100%;
        font-size: 16px;
        padding: 0 20px 0 50px;
      }
    }
    .download{
      display: flex;
      padding-right: 25px;
      align-items: center;
      .actions{
        margin-right: 15px;
        display: flex;
          a{
            height: 40px;
            width: 40px;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
              svg{
                height: 15px;
                width: 15px;
              }
          }
      }
      .selected{
        font-size: 14px;
        font-weight: 500;
        color: #999;
        display: flex;
        align-items: center;
        cursor: pointer;
          button{
            background: transparent;
            svg{
              margin-right: 7px;
              display: block;
            }
          }
      }
    }
  }
  .brands{
    padding: 25px;
    .brand{
      border: 1px solid #ddd;
      background-color: #fff;
      padding: 15px;
      margin-bottom: 10px;
      h5{
        font-size: 15px;
        margin-bottom: 10px;
        cursor:pointer;
      }
      &-colors{
        display: flex;
        span{
          cursor: pointer;
          background-color: var(--bgColor);
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 500;
          color: var(--textColor);
          text-indent: -99999px;
          width: 70px;
          
        }
      }
      &.selected{
        border-color: red;
        .brand-colors{
          span{
            flex: 1;
            text-indent: 0;
          }
        }
      }
    }

  }
}

.about-modal{
  max-width: 720px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(#000, .1);
  padding: 5rem;
  position: relative;

  .model-close-btn{
    position:absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: rgba(255, 251, 251, 0.644);
    svg{
      height: 15px;
      width: 15px;
    }
  }
  h3{
    font-size: 26px;
    margin-bottom: 25px;
  }
  p{
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 25px;
  }
}


.about-modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#fff, .8);
}

.copied{
  position: fixed;
  bottom: 20px;
  right:20px;
  background-color: var(--bgColor);
  color: var(--textColor);
  padding: 15px 25px;
  border-radius: 4px;
  font-size: 18px;
}